<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shorsam.foodyhomeSS">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodyHome">
        <activity android:name="com.shorsam.foodyhomeSS.ContactUs"></activity>
        <activity android:name="com.shorsam.foodyhomeSS.Availability" />
        <activity android:name="com.shorsam.foodyhomeSS.AllCombo" />
        <activity android:name="com.shorsam.foodyhomeSS.PrivacyPolicy" />
        <activity android:name="com.shorsam.foodyhomeSS.RefundPolicy" />
        <activity android:name="com.shorsam.foodyhomeSS.OrderTracking" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAN4schyVD-uELoDkN1yXL3cxoGWOYEr4o" />

        <activity android:name="com.shorsam.foodyhomeSS.location" />
        <activity android:name="com.shorsam.foodyhomeSS.profile" />
        <activity android:name="com.shorsam.foodyhomeSS.YourOrder_1" />
        <activity android:name="com.shorsam.foodyhomeSS.AllAddresses" />
        <activity android:name="com.shorsam.foodyhomeSS.NoConnection" />
        <activity android:name="com.shorsam.foodyhomeSS.YourOrders" />
        <activity android:name="com.shorsam.foodyhomeSS.Razorpay" />
        <activity android:name="com.shorsam.foodyhomeSS.Payment_Activity" />
        <activity android:name="com.shorsam.foodyhomeSS.TopCategories" />
        <activity android:name="com.shorsam.foodyhomeSS.AllProduct" />
        <activity android:name="com.shorsam.foodyhomeSS.YourMenu" />
        <activity android:name="com.shorsam.foodyhomeSS.OrderDetails" />
        <activity android:name="com.shorsam.foodyhomeSS.SelectStore" />
        <activity android:name="com.shorsam.foodyhomeSS.Individual_Product" />
        <activity
            android:name="com.shorsam.foodyhomeSS.Termandcondition"
            android:parentActivityName="com.shorsam.foodyhomeSS.MainActivity" />
        <activity android:name="com.shorsam.foodyhomeSS.SeeAllCategories" />
        <activity android:name="com.shorsam.foodyhomeSS.otp_login" />
        <activity android:name="com.shorsam.foodyhomeSS.Sign_up_activity" />
        <activity android:name="com.shorsam.foodyhomeSS.SearchUniversal" />
        <activity android:name="com.shorsam.foodyhomeSS.SignUp" />
        <activity android:name="com.shorsam.foodyhomeSS.Login_1" />
        <activity android:name="com.shorsam.foodyhomeSS.EditAddress" />
        <activity android:name="com.shorsam.foodyhomeSS.LogoLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shorsam.foodyhomeSS.MainActivity" />
    </application>

</manifest>